/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main_font, 'Sans Serif');
  font-weight: var(--font_weight_text, 410);
  font-size: var(--font_size_text, 18px);
  color: var(--font_color, #000);
  background-image: var(--background_gradient);
  background-color: #fff;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

@supports (font-variation-settings: var(--font_weight_text, 410)) {

  .page {
    font-variation-settings: var(--font_weight_text, 410);
  }
}

.outline {
  outline: 2px solid currentColor;
}

.container_size {
  max-width: var(--width_block, clamp(371px, 256.56px + 30.52vw, 696px));
  margin: 0 auto;
}

.main {
  display: grid;
  gap: 52px;
}

.header {
  margin-block-start: var(--margin_header-footer, 100px);
  margin-block-end: var(--margin_header-footer, 100px);
  padding-inline: clamp(16px, -21.68px + 10.05vw, 123px);
  padding-block: clamp(122px, 119.18px + 0.75vw, 130px);
  background-color: var(--white, #fff);
  text-align: center;
  font-family: var(--variative_font, 'Sans Serif');
}

.logo {
  font-size: clamp(49px, 43.37px + 1.5vw, 65px);
  font-weight: normal;
  text-transform: uppercase;
}

.main-title {
  font-size: var(--font_size_title, clamp(14px, 10.83px + 0.85vw, 23px));
  font-weight: normal;
  text-transform: uppercase;
  margin-block-start: 20px;
}

.card {
  background-color: var(--white, #fff);
}

.card__title {
  font-weight: 715;
  text-wrap: wrap;
  font-size: 18px;
  padding-block: 6px;
  padding-inline: 10px;
}

.card__image-contain {
  position: relative;
}

.card__image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: contain;
}

.card__image-decorate {
  opacity: 0.5;
  mix-blend-mode: hard-light;
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--variative_font, 'Sans Serif');
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  text-shadow:
    -1px 0 var(--white, #fff),
    0 1px var(--white, #fff),
    1px 0 var(--white, #fff),
    0 -1px var(--white, #fff);
}

@supports((text-stroke: 1px #000000) or (-webkit-text-stroke: 1px #000000)) {

  .card__image-decorate {
    -webkit-text-stroke: 1px var(--white, #fff);
    text-shadow: none;
  }
}

.card__text-contain {
  display: grid;
  gap: 25px;
  padding-inline: 25px;
  padding-block-start: 21px;
}

.card_text {
  line-height: 117%;
}

.card__button-contain {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-block-start: 25px;
  padding-inline-end: 27px;
  margin-block-end: 25px;
  gap: 8px;
}

.card__like-button {
  padding-block: 12px;
  padding-inline: 35px;
  text-align: center;
  outline: 2px solid currentColor;
  font-family: var(--variative_font, 'Sans Serif');
  font-size: 14px;
  font-weight: normal;
  line-height: 90%;
  cursor: pointer;
}

.footer {
  margin-block-start: 50px;
  margin-block-end: var(--margin_header-footer, 100px);
  margin-inline: auto;
  background-color: #fff;
  max-width: clamp(306px, 295.79px + 2.72vw, 335px);
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  padding: 15px 20px;
  cursor: pointer;
}

.button__text {
  font-family: var(--variative_font, 'Sans Serif');
  font-size: 14px;
  font-weight: normal;
  width: 100%;
}
