/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  color: var(--font_color, #000);
  font-family: var(--main_font, sans-serif);
  font-weight: var(--font_weight_text, 410);
  font-size: var(--font_size_text, 18px);
  background-color: #fff;
  background-image: var(--background_gradient);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

@supports (font-variation-settings: 'wght' var(--font_weight_text, 410)) {

  .page {
    font-variation-settings: 'wght' var(--font_weight_text, 410);
  }
}

.outline {
  outline: 2px solid currentColor;
}

.container_size {
  max-width: var(--width_block, clamp(371px, 256.56px + 30.52vw, 696px));
  margin: 0 auto;
}

.main {
  display: grid;
  gap: 52px;
}

.header {
  margin-block-start: var(--margin_header-footer, 100px);
  margin-block-end: var(--margin_header-footer, 100px);
  padding-inline: clamp(16px, -21.68px + 10.05vw, 123px);
  padding-block: clamp(122px, 119.18px + 0.75vw, 130px);
  font-family: var(--variative_font, sans-serif);
  text-align: center;
  background-color: var(--white, #fff);
  -webkit-margin-before: var(--margin_header-footer, 100px);
  -webkit-margin-after: var(--margin_header-footer, 100px);
}

.logo {
  font-weight: normal;
  font-size: clamp(49px, 43.37px + 1.5vw, 65px);
  text-transform: uppercase;
}

.main-title {
  margin-block-start: 20px;
  font-weight: normal;
  font-size: var(--font_size_title, clamp(14px, 10.83px + 0.85vw, 23px));
  text-transform: uppercase;
  -webkit-margin-before: 20px;
}

.card {
  background-color: var(--white, #fff);
}

.card__title {
  padding-inline: 10px;
  padding-block: 6px;
  font-weight: 715;
  font-size: 18px;
  text-wrap: wrap;
}

@supports (font-variation-settings: 'wght' var(--font_weight_title, 715)) {

  .card__title {
    font-variation-settings: 'wght' var(--font_weight_title, 715);
  }
}

.card__image-contain {
  position: relative;
}

.card__image {
  max-height: clamp(371px, 256.56px + 30.52vw, 696px);
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
  aspect-ratio: 1/1;
}

.filter-blur {
  -webkit-filter: var(--filter_blur, blur(3px));
  filter: var(--filter_blur, blur(3px));
}

.filter-brightness {
  -webkit-filter: var(--filter_brightness, brightness(35%));
  filter: var(--filter_brightness, brightness(35%));
}

.filter-contrast {
  -webkit-filter: var(--filter_contrast, contrast(75%));
  filter: var(--filter_contrast, contrast(75%));
}

.filter-grayscale {
  -webkit-filter: var(--filter_grayscale, grayscale(90%));
  filter: var(--filter_grayscale, grayscale(90%));
}

.filter-hue-rotate {
  -webkit-filter: var(--filter_hue-rotate, hue-rotate(0.1turn));
  filter: var(--filter_hue-rotate, hue-rotate(0.1turn));
}

.filter-saturate {
  -webkit-filter: var(--filter_saturate, saturate(400%));
  filter: var(--filter_saturate, saturate(400%));
}

.filter-saturate-hue-rotate-sepia-contrast {
  -webkit-filter: var(
    --filter_saturate_hue-rotate_sepia_contrast,
    saturate(350%) hue-rotate(0.2turn) sepia(0.7) contrast(160%)
  );
  filter: var(
    --filter_saturate_hue-rotate_sepia_contrast,
    saturate(350%) hue-rotate(0.2turn) sepia(0.7) contrast(160%)
  );
}

.card__image-decorate {
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  font-family: var(--variative_font, sans-serif);
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase;
  text-shadow:
    -1px 0 var(--white, #fff),
    0 1px var(--white, #fff),
    1px 0 var(--white, #fff),
    0 -1px var(--white, #fff);
  mix-blend-mode: hard-light;
}

@supports ((text-stroke: 1px #000000) or (-webkit-text-stroke: 1px #000000)) {

  .card__image-decorate {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--white, #fff);
  }
}

.card__text-contain {
  display: grid;
  gap: 25px;
  padding-inline: 25px;
  padding-block-start: 21px;
  -webkit-padding-before: 21px;
}

.card_text {
  line-height: 117%;
}

.card__button-contain {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 8px;
  margin-block-start: 23px;
  margin-block-end: 22px;
  padding-inline-end: 27px;
  -webkit-margin-before: 23px;
  -webkit-margin-after: 22px;
  -webkit-padding-end: 27px;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  outline: 2px solid transparent;
  transition: outline 0.3s ease;
}

.card__icon-button:focus-visible {
  outline-color: var(--accent_color, #000);
}

.button {
  position: relative;
  width: 100%;
  max-width: 130px;
  padding-block: 12px;
  outline: 2px solid var(--accent_color, #000);
  color: var(--white, #fff);
  font-family: var(--variative_font, sans-serif);
  font-weight: normal;
  font-size: 14px;
  line-height: 90%;
  text-align: center;
  background-color: var(--white, #fff);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.button__text {
  mix-blend-mode: difference;
}

.button:focus {
  box-shadow: 2px 2px 0 0 var(--accent_color, #000);
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent_color, #000);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.button:hover::before {
  transform: scaleX(1);
}

.save__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  max-width: clamp(306px, 295.79px + 2.72vw, 335px);
  margin-inline: inherit;
  margin-block-end: var(--margin_header-footer, 100px);
  padding-inline: 0;
  padding-block: 15px;
  outline: none;
  color: var(--white, #fff);
  text-transform: uppercase;
  -webkit-margin-after: var(--margin_header-footer, 100px);
}

.floppy {
  width: 13%;
  height: auto;
  fill: var(--white, #fff);
  mix-blend-mode: difference;
}

.dialog:open {
  display: grid;
  justify-items: center;
  gap: 30px;
  max-width: clamp(341px, 336.77px + 1.13vw, 353px);
  padding-inline: 30px;
  padding-block: 30px;
}

.dialog__content {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 0 auto;
}

.dialog__floppy {
  flex-shrink: 0;
  width: 20%;
  height: auto;
  fill: var(--accent_color, #000);
}

.dialog__text {
  max-width: 234px;
  color: var(--font_color, #000);
  font-family: var(--variative_font, sans-serif);
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.dialog:open::-webkit-backdrop {
  opacity: 0.75;
  background-color: var(--font_color, #000);
}

.dialog:open::backdrop {
  opacity: 0.75;
  background-color: var(--font_color, #000);
}

.dialog-button {
  width: 100%;
  max-width: clamp(261px, 249.73px + 3vw, 293px);
  padding: 9px 10px;
  outline: 2px solid var(--accent_color, #000);
  text-transform: uppercase;
}

@media (width >= 1440px) {

  .save__button {
    flex-direction: row;
    gap: 4px;
  }

  .floppy {
    align-items: center;
    width: 8%;
    height: auto;
  }
}
